/* color scheme: 
HEX #031B40 RGB 3, 27, 64
HEX #023F5A RGB 2, 63, 90
HEX #0195A5 RGB 1, 149, 165
HEX #03D1DE RGB 3, 209, 222
HEX #CEEFF2 RGB 206, 239, 242
*/

body {
    color: black;
    font-family: sans-serif;
}
nav {
    padding: 20px;
    text-align: left;
    margin-left: 3rem;
}
h1 {
    padding: 30px;
    font-size: 35px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
}
h4 {
    margin: 3rem;
}
.about-text {
    margin: 3rem;
}
.table {
    width: 100%;
    table-layout: auto;
}
.table tbody tr:nth-child(even) {
    background-color: #dddddd;
}
.table tbody tr:nth-child(odd) {
    background-color: #efefef;
}
.footer {
    padding: 1.5rem;
}
.footer .content p {
    display: flex;
    justify-content: center; 
}
.footer a {
    margin: 0 40px; 
}
button, .boxes{
    cursor: pointer;
}
tr:hover td{
    background-color: rgb(234, 254, 255);
}
@media(prefers-color-scheme: dark) {
    body {
        color: white;
    }
    .table tbody tr:nth-child(even) {
    background-color: #333333;
    }
    .table tbody tr:nth-child(odd) {
        background-color: #454545;
    }
    tr:hover td{
        background-color: black;
    }
}
.grayed-out {
    color: #888888;
}
.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px; 
    margin-top: -60px;
}
.pagination {
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#results {
    overflow: auto;
}